.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* added margins to the top/bottom of the paragraph tags so that there was some spacing in the About Me page */
p{
  margin: 20px auto;
}

figcaption{
  text-align: center;
  padding-top: 20px;
}

.modal-header,
.modal-footer{
  background-color: slategray;
}

/*keeping the wrappers on each page uniform, while also visually similar to the model pages */
.content-wrap{
  position: relative;
  width: auto;
  min-width: 460px;
  background-color: white;
  padding: 30px;
  margin: 75px auto;
}

/* Set the About Me image to fixed dimensions so as to follow the model pages */
.about-img{
  margin: 20px 20px 10px auto;
  height: 200px;
  width: 200px;
}

/* modify the margins for the portfolio page so that the images are spaced properly and will transition to 1 or 2 per line depending on screen size */
.folio-img{
  margin: 40px auto 0px auto;
  display: block;
  /* saved dimensions to match the model page's picture dimensions if using non-350x350 pictures
  height: 260px;
  width: 260px;
  max-height: 260px;
  max-width: auto; 
  */
}

/* styled a sticky footer with a small border on top to make it stand out more */
footer{
  border-top-style: solid;
  border-top-color: lightseagreen;
  border-top-width: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: skyblue;
  font-size: 20px;
  font-family: 'Bilbo', 'Times New Roman', Times, serif;
  text-align: center;
}

/* Change the wrapper dimensions and margins for xs screens */
@media (max-width: 575px) {
  .content-wrap {
      min-width: auto;
      padding:30px;
      margin: 50px 15px auto 15px;
  }
}